<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{/static/libs/fontawesome-free-5.12.1-web/css/fontawesome.css}" rel="stylesheet">
    <link th:href="@{/static/libs/fontawesome-free-5.12.1-web/css/solid.css}" rel="stylesheet">
    <link th:href="@{/static/libs/fontawesome-free-5.12.1-web/css/brands.css}" rel="stylesheet">

    <!-- Common styles and scripts -->
    <link rel="stylesheet" type="text/css" th:href="@{/static/libs/bootstrap-4.4.1-dist/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/geral.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/libs/jquery-ui-1.12.1/jquery-ui.min.css}">

    <title>Login</title>

</head>
<body>

<div class="container">
    <div class="login-screen">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>

        <h1 class="text-center">VideoViz</h1>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label>Usuário </label>
                <input class="form-control" type="text" name="username"/>
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input class="form-control" type="password" name="password"/>
            </div>
            <div class="row">
                <div class="col-8">

                </div>
                <div class="col-4">
                    <input type="submit" class="btn btn-primary float-right" value="Sign In"/>
                </div>
            </div>
        </form>
        <div th:if="${param.logout}" style="margin-top: 10px;" class="alert alert-warning">
            Voce fez logout!
        </div>
        <div class="alert alert-info" style="margin-top: 10px;" th:if="${type!=null && type.equals('info')}"
             th:text="${message}"></div>
        <div class="alert alert-error" style="margin-top: 10px;" th:if="${type!=null && type.equals('error')}"
             th:text="${message}"></div>
    </div>
</div>



<script type="text/javascript" th:src="@{/static/libs/jquery/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/static/libs/jquery-ui-1.12.1/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/static/libs/jquery/jquery.maskMoney.min.js}"></script>
<script type="text/javascript" th:src="@{/static/libs/bootstrap-4.4.1-dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/libs/default.js}"></script>
<script type="text/javascript" th:src="@{/static/libs/moment/moment.min.js}"></script>
<script type="text/javascript">
    console.log('Started')
</script>
</body>
</html>
